<p data-noteId="<%= note.constructor.allNotes.length %>">Time since last event: <%= note.deltaTime %>s</p>
<p data-noteId="<%= note.constructor.allNotes.length %>">Note: <%= note.fullNoteName() %></p>
<p data-noteId="<%= note.constructor.allNotes.length %>">Velocity: <%= note.velocityPercent %>%</p>
